option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 18.17.1
    GzipCompression: true
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
  aws:ec2:instances:
    InstanceTypes: t3.small
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    EnhancedHealthAuthEnabled: true
