option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: basic
